*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Nunito', sans-serif;
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
}

.header-wrap {
    background: linear-gradient(0deg, rgb(119, 235, 250), rgb(99, 179, 245));
    width: 100%;
    border-bottom: 2px solid #000;
}

.main-header {
    display: flex;
    flex-direction: column;
    padding: 7% 2%;
    align-items: center;
    margin: 0 auto;
}

.main-logo {
    width: 200px;
    margin-bottom: 7%;
}

.main-nav {
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
    flex-wrap: wrap;
    width: 100%;
}

.main-nav > a {
    width: 100px;
    min-width: 100px;
    background: #fff;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #000;
    padding: 10px 0;
    border-radius: 5px;
    box-shadow: 0 0.1rem 0.1rem 0.1rem #000;
    text-align: center;
}

.main-nav > a:link,
.main-nav > a:visited {
}

.main-nav > a:hover,
.main-nav > a:active {
    box-shadow: inset 0 0.1rem 0.1rem 0.1rem #000;
    text-shadow: 0 0.1rem #000;
    color: transparent;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: stretch;
}

.main-section:nth-child(odd) {
    background: linear-gradient(180deg, #ddd, #fff);
    border-bottom: 1px solid #000;
}

.main-section:nth-child(even) {
    background: linear-gradient(0deg, #ddd, #fff);
    border-bottom: 1px solid #000;
}

/* Media Queries */

@media (min-width: 600px) {
    .main-header {
        flex-direction: row;
        align-items: center;        
        padding: 2%;
    }

    .main-nav {
        flex-grow: 0;
        width: 60%;
    }

    .main-logo {
        margin-bottom: 0;
        margin-right: auto;
    }
}

@media (min-width: 769px) {
    .main-header {
        padding: 1%;
    }
    
    .main-logo {
        width: 150px;
    }
    
    .main-nav {
        width: 50%;
    }
}

@media (min-width: 1200px) {
    .main-header {
        max-width: 1200px;
    }

    .section-content {
        max-width: 1200px;
        margin: 0 auto;
    }
}